{% extends 'base.html' %}

{% block content %}

<section class="about-hero d-flex align-items-center">

    <div class="container  text-white">

        <h2 class="about-title">About</h2>

        <p class="about-intro">
            Passionate <span class="highlight">Full Stack Developer</span> with expertise in
            Java, MERN Stack, and Cloud technologies. Currently working at
            WT Windo Consultancy, building modern, scalable,
            and user-friendly web applications focused on real-world solutions.
        </p>

        <!-- Scroll button -->
        <div class="scroll-btn">
            <i class="bi bi-mouse"></i>
        </div>

    </div>

</section>

{% endblock %}