<nav class="navbar navbar-expand-lg navbar-dark px-4 py-3">

    <!-- LOGO -->
    <a class="navbar-brand fw-bold" href="#">Lalit Mahajan</a>

    <!-- TOGGLE BUTTON (3 lines) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="ms-auto text-center">
            <a class="nav-link d-lg-inline text-white me-lg-3" href="/#home">Home</a>
            <a class="nav-link d-lg-inline text-white me-lg-3" href="/#about">About</a>
            <a class="nav-link d-lg-inline text-white me-lg-3" href="/project">Projects</a>
            <a class="nav-link d-lg-inline text-white" href="/#contact">Contact</a>
        </div>
    </div>

</nav>